<div class="col-md-6 col-md-offset-3" style="    background-color: rgba(193, 193, 193, 0.62);border-radius: 1%;height: 260px;">
    <div>
        <div class="form-group" style="color: grey;">
            <h3>Username</h3>
            <input type="text"class="form-control" [(ngModel)]="email" required />
            
        </div>
        <div class="form-group" style="color: grey;">
            <h3 for="password">Password</h3>
            <input type="password" class="form-control" [(ngModel)]="password" required />
            
        </div>
        <div class="form-actions">
            <button (click)="login()" class="btn btn-primary">Login</button>
            <a routerLink="/signup" class="btn btn-link">Register</a>
        </div>
    </div>
</div>