<div class="col-md-12" style="margin-top: 30px;" *ngIf="workLogs">
    <div class="col-md-12">
        <md-card class="md-card">
            <md-grid-list cols="4" rowHeight="200px">
                <md-grid-tile [colspan]="1" [rowspan]="2">
                    <div class="movies-list">
                        <md-card *ngFor="let workLog of workLogs" (click)="getWorkLogDetails(workLog)" class="item-list">
                            <h4 md-line>
                                <span [class.highlight-title]="1">{{workLog.fields.jira_ticket}}</span>
                            </h4>
                        </md-card>
                    </div>
                </md-grid-tile>
                <md-grid-tile [colspan]="3" [rowspan]="2">
                    <div class="detail-pane" style="padding-top:40px;">
                        <div class="col-md-12">
                          <div class="col-md-12 row">
                            <div class="col-md-12 movie-overview">
                              <span class="overview-title"><b>Comment:</b></span>
                              <div class="summary">
                                <div style="padding: 10px 10px;">{{selectedWorkLog.fields.comment}}</div>
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="col-md-12">
                          <div class="col-md-12 row">
                            <div class="col-md-12">
                              <span class="overview-title"><b>Time Spent:</b></span>
                            </div>
                            <div class="col-md-12">
                              <input style="width:40%;" class="form-control" disabled [value]="selectedWorkLog.fields.time_spent"/>
                            </div>
                          </div>
                        </div>
                        <div class="col-md-12" style="margin-top:15px;">
                          <div class="col-md-6">
                            <div class="col-md-12 row">
                              <div class="col-md-6 row">
                                <span class="overview-title"><b>Pushed To Jira</b></span>
                              </div>
                              <div class="col-md-6 row">
                                <input type="checkbox" class="checkbox" disabled [checked]="selectedWorkLog.fields.push_to_jira"/>
                              </div>
                            </div>
                          </div>
                          <div class="col-md-6">
                            <div class="col-md-12 row">
                              <div class="col-md-6 row">
                                <span class="overview-title"><b>Pushed To Slack</b></span>
                              </div>
                              <div class="col-md-6 row">
                                <input type="checkbox" class="checkbox" disabled [checked]="selectedWorkLog.fields.push_to_slack"/>
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="col-md-12" style="margin-top:15px;">
                          <div class="col-md-12 row">
                            <div class="col-md-12">
                              <span class="overview-title"><b>Created On</b></span>
                            </div>
                            <div class="col-md-12">
                              <input style="width:40%;" class="form-control" disabled [value]="selectedWorkLog.fields.created_on"/>
                            </div>
                          </div>
                        </div>
                        <div class="col-md-12">
                          <div class="col-md-12 row">
                            <div class="col-md-12" style="margin-top:10px;">
                              <button class="btn btn-primary" (click)="addWorkLog()">Add Work Log</button>
                            </div>
                          </div>
                        </div>
                    </div>
                </md-grid-tile>
            </md-grid-list>
        </md-card>
    </div>
</div>
