<div class="col-md-12" style="margin-top: 20px;">
  <div class="col-md-3">
    <div>
      <h4>Assignee</h4>
    </div>
    <div>
      <input [(ngModel)]="assignee" class="form-control" placeholder="assignee"/>
    </div>
  </div>
  <div class="col-md-3">
    <div>
      <h4>Max Tickets</h4>
    </div>
    <div>
      <select [(ngModel)]="maxTickets" class="form-control">
        <option *ngFor="let number of numberOfTickets" [value]="number">{{number}}</option>
      </select>
    </div>
  </div>
  <div class="col-md-3">
    <div>
      <h4>Projects</h4>
    </div>
    <div>
      <ngx-multiselect [(ngModel)]="selectedProjects" [options]="projects" [multiple]="true"></ngx-multiselect>
    </div>
  </div>
  <div>&nbsp;</div>
  <div>&nbsp;</div>
  <div class="col-md-3">
    <button (click)="getJiraTickets()" class="btn btn-primary">Search</button>
  </div>
</div>
<div class="col-md-12" style="margin-top: 30px;">
    <div class="col-md-12">
        <md-card class="md-card">
            <md-grid-list cols="4" rowHeight="200px">
                <md-grid-tile [colspan]="1" [rowspan]="2">
                    <div class="movies-list">
                        <md-card *ngFor="let ticket of tickets; let even=even;" on-mouseover="selectTicket(ticket)" class="item-list">
                            <h4 md-line>
                                <span [class.highlight-title]="selectedTicket.ticket_number == ticket.ticket_number">{{ticket.ticket_number}}</span>
                            </h4>
                        </md-card>
                    </div>
                </md-grid-tile>
                <md-grid-tile [colspan]="3" [rowspan]="2">
                    <div class="detail-pane" style="padding-top:40px;">
                        <div class="col-md-12">
                          <div class="col-md-12 row">
                            <div class="col-md-12 movie-overview">
                              <span class="overview-title"><b>Summary:</b></span>
                              <div class="summary">
                                <div style="padding: 10px 10px;">{{selectedTicket?.summary}}</div>
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="col-md-12">
                          <div class="col-md-12 row">
                            <div class="col-md-12">
                              <span class="overview-title"><b>Comment:</b></span>
                            </div>
                            <div class="col-md-12">
                              <textarea rows="4" style="width:100%;" class="form-control" [(ngModel)]="comment"></textarea>
                            </div>
                          </div>
                        </div>
                        <div class="col-md-12">
                          <div class="col-md-12 row">
                            <div class="col-md-12">
                              <span class="overview-title"><b>Time Spent:</b></span>
                            </div>
                            <div class="col-md-12">
                              <input style="width:40%;" class="form-control" [(ngModel)]="timespent"/>
                            </div>
                          </div>
                        </div>
                        <div class="col-md-12">
                          <div class="col-md-12 row">
                            <div class="col-md-12" style="margin-top:10px;">
                              <button class="btn btn-primary" (click)="addWorkLog()">Add Work Log</button>
                            </div>
                          </div>
                        </div>
                    </div>
                </md-grid-tile>
            </md-grid-list>
        </md-card>
    </div>
</div>


<!--<div class="detail-background">
    <div class="col-md-12 row">
      <div class="col-md-6">
        <md-card class="card">
            <div>
              <div>
                <b>Title</b>
              </div>
              <div class="text-overflow-dot">
                <span [title]="selectedMovieDetail?.title">{{selectedMovieDetail?.title}}</span>
              </div>
            </div>
        </md-card>
        <md-card class="card">
            <div>
              <div>
                <b>Popularity</b>
              </div>
              <div class="text-overflow-dot">
                {{selectedMovieDetail?.popularity}}
              </div>
            </div>
        </md-card>
        <md-card class="card">
            <div>
              <div>
                <b>Vote Count</b>
              </div>
              <div class="text-overflow-dot">
                {{selectedMovieDetail?.vote_count}}
              </div>
            </div>
        </md-card>
        <md-card class="card">
            <div>
              <div>
                <b>Video</b>
              </div>
              <div class="text-overflow-dot">
                {{selectedMovieDetail?.video}}
              </div>
            </div>
        </md-card>
        <md-card class="card">
            <div>
              <div>
                <b>Release Date</b>
              </div>
              <div class="text-overflow-dot">
                {{selectedMovieDetail?.release_date}}
              </div>
            </div>
        </md-card>
      </div>
      <div class="col-md-6">
        <md-card class="card">
            <div>
              <div>
                <b>Orignal Title</b>
              </div>
              <div class="text-overflow-dot">
                 <span [title]="selectedMovieDetail?.original_title">{{selectedMovieDetail?.original_title}}</span>
              </div>
            </div>
        </md-card>
        <md-card class="card">
            <div>
              <div>
                <b>Orignal Language</b>
              </div>
              <div class="text-overflow-dot">
                {{selectedMovieDetail?.original_language}}
              </div>
            </div>
        </md-card>
        <md-card class="card">
            <div>
              <div>
                <b>Vote Average</b>
              </div>
              <div class="text-overflow-dot">
                {{selectedMovieDetail?.vote_average}}
              </div>
            </div>
        </md-card>
        <md-card class="card">
            <div>
              <div>
                <b>Adult</b>
              </div>
              <div class="text-overflow-dot">
                {{selectedMovieDetail?.adult}}
              </div>
            </div>
        </md-card>
      </div>
      <div class="col-md-12 movie-overview">
           <md-card class="overview-card">
              <span class="overview-title"><b>Overview:</b></span>
              <div>{{selectedMovieDetail?.overview}}</div>
           </md-card>
      </div>
      <div class="col-md-12 edit-button">
          <button type="button" class="btn btn-primary" (click)="editMovie(selectedMovieDetail?.id)">Edit</button>
      </div>
    </div>
</div>-->
